/cmake-build-debug
CMakeLists.txt
/.idea
/.vs/snupl-phase-4/v16/Browse.VC.db
/.vs/snupl-phase-4/v16/Browse.VC.db-shm
/.vs/snupl-phase-4/v16/Browse.VC.db-wal
/.vs/snupl-phase-4/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs
